<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.{{config 'PIWIK_TRACKED_DOMAIN'}}"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//{{config 'PIWIK_URL'}}/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', {{config 'PIWIK_SITEID'}}]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//{{config 'PIWIK_URL'}}/piwik.php?idsite={{config 'PIWIK_SITEID'}}" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
