<article class="profile">
	<img src="{{{twitter_picture_big user.picture}}}" alt="">
	<h1>{{user.name}}</h1>
	<form id="genreport" action="/genreport" method="post">
		<button><i class="fa fa-search"></i> <span>Generate report</span></button>
	</form>
	<script>
		var genreport = document.getElementById("genreport");
		var button = genreport.querySelector('button');
		genreport.addEventListener('submit', function(){
			button.setAttribute('disabled', 'true');
			button.querySelector("span").textContent = "Generating report...";
			document.body.className = "wait";
		});
	</script>
</article>

{{#each reports}}
	<article>
		<div class="date"><i class="fa fa-clock-o"></i> {{{date_from_now date}}}</div>
		{{#if unfollowers}}
			<h1>Unfollowers</h1>
			<ul>
				{{#each unfollowers}}
					<li>
						<a href="http://twitter.com/{{screen_name}}" target="_blank">
							<img src="{{picture}}" alt="">
							<span class="name">{{name}}</span>
							<span class="screen_name">@{{screen_name}}</span>
						</a>
					</li>
				{{/each}}
			</ul>
		{{/if}}

		{{#if newfollowers}}
			<h1>New followers</h1>
			<ul>
				{{#each newfollowers}}
					<li>
						<a href="http://twitter.com/{{screen_name}}" target="_blank">
							<img src="{{picture}}" alt="">
							<span class="name">{{name}}</span>
							<span class="screen_name">@{{screen_name}}</span>
						</a>
					</li>
				{{/each}}
			</ul>
		{{/if}}
		
	</article>
{{/each}}